@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");

:root {
  --dark-blue-100: #609ed4;
  --dark-blue-200: #356ea9;
  --dark-blue-300: #0a3871;
  --dark-blue-400: #072b61;
  --dark-blue-500: #052051;

  --light-blue-100: #f3f5fc;
  --light-blue-200: #eff1fa;
  --light-blue-300: #e9ecf8;
  --light-blue-400: #aab2d5;
  --light-blue-500: #757fb2;

  --gray-100: #ced4da;
  --gray-200: #adb5bd;
  --gray-300: #868e96;
  --gray-400: #495057;
  --gray-500: #344a40;
}

* {
  font-family: "Inter", sans-serif;
}

body {
  display: flex;
  background-color: var(--light-blue-100);
}

.header {
  width: 15vw;
  height: 100vh;
}

.header__logo {
  width: 32px;
  height: 48px;
  position: relative;
  margin: 2rem auto;
}

.main {
  display: flex;
  width: 85vw;
  height: 100vh;
}

.encriptador {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 4rem;
}

.encriptador__texto,
.resultado__texto {
  width: 100%;
  height: 88%;
}

.encriptador__texto textarea {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-color: transparent;
  font-size: 2rem;
  font-weight: 400;
  resize: none;
  color: var(--dark-blue-300);
}

.encriptador__texto textarea::placeholder {
  color: var(--dark-blue-300);
}

.encriptador__texto textarea:focus {
  outline: none;
}

.encriptador__opciones {
  height: 10%;
}

.opciones__info {
  display: flex;
  align-items: center;
  height: 2rem;
}

.info__icon {
  font-size: 0.6rem;
  background-color: var(--gray-400);
  padding: 0.2rem 0.5rem;
  color: white;
  border-radius: 50%;
  margin-right: 0.8rem;
}

.info__texto {
  font-size: 0.6rem;
  color: var(--gray-400);
}

.opciones__botones {
  display: flex;
  width: 100%;
  height: 100%;
}

.boton {
  width: 50%;
  height: 3.5rem;
  font-size: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  border: solid 1px var(--dark-blue-300);
}

.boton--encriptar {
  color: white;
  background-color: var(--dark-blue-300);
  margin-right: 1rem;
}

.boton--encriptar:hover {
  transition: 400ms;
  background-color: var(--dark-blue-500);
}

.boton--desencriptar, .boton--copiar {
  color: var(--dark-blue-300);
  background-color: white;
}

.boton--desencriptar:hover, .boton--copiar:hover{
  transition: 400ms;
  background-color: var(--light-blue-200);
}

.resultado {
  display: flex;
  width: 30%;
  background-color: white;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 2rem;
}

.resultado__sin-texto {
  width: 80%;
  position: relative;
  margin: auto auto;
}

.sin-texto__imagen {
  width: 80%;
}

.sin-texto__mensaje {
  text-align: center;
}

.sin-texto__mensaje h1 {
  font-size: 1rem;
  font-weight: 700;
  margin: 1rem;
  color: var(--gray-500);
}

.sin-texto__mensaje p {
  font-size: 0.8rem;
  color: var(--gray-400);
}

.resultado__texto {
  padding: 2rem;
}

.resultado__texto textarea {
  height: 100%;
  width: 100%;
  margin-bottom: calc(2rem);
  color: var(--gray-400);
  font-size: 1rem;
  font-weight: 400;
  background-color: transparent;
  border-color: transparent;
  resize: none; 
}

.resultado__texto textarea::selection,
.encriptador__texto textarea::selection {
  background-color: var(--dark-blue-100)
}

.boton--copiar {
  width: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
}

@media screen and (max-width:768px) {
  body {
    flex-direction: column;
  }

  .header {
    width: 100vw;
    height: 10vh;
  }

  .header__logo {
    margin: 2rem 2rem;
  }

  .main {
    flex-direction: column;
    width: 100vw;
    height: auto;
  }

  .encriptador  {
    width: 100%;
    height: 90vh;
    margin: 0;
    padding: 3rem;
  }

  .resultado {
    width: 85%;
    height: 25vh;
    margin: 1rem auto;
    padding: 1rem;
  }

  .sin-texto__imagen {
    display: none;
  }

  .resultado__sin-texto {
    width: 100%;
    height: auto;
  }

  .resultado__texto {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .resultado__texto textarea{
    padding-bottom: 1rem;
  }

  .footer {
    right: 2rem;
    top: 2rem;
  }

}

@media screen and (max-width:375px) {
  .opciones__botones {
    flex-direction: column;
  }
  
  .encriptador__opciones {
    height: 20%;
  }

  .boton {
    width: 100%;
    margin-bottom: 0.5rem;
  }
}