@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

:root {
    --dark-blue-100: #609ED4;
    --dark-blue-200: #356EA9;
    --dark-blue-300: #0A3871;
    --dark-blue-400: #072B61;
    --dark-blue-500: #052051;

    --light-blue-100: #F3F5FC;
    --light-blue-200: #EFF1FA;
    --light-blue-300: #E9ECF8;
    --light-blue-400: #AAB2D5;
    --light-blue-500: #757FB2;

    --gray-100: #CED4DA;
    --gray-200: #ADB5BD;
    --gray-300: #868E96;
    --gray-400: #495057;
    --gray-500: #344A40;
}

* {
    font-family: 'Inter', sans-serif;
}

body {
    display: flex;
    background-color: var(--light-blue-100);
}

.header {
    width: 15vw;
    height: 100vh;
}

.header__logo {
    width: 120px;
    height: 48px;
    position: relative;
    margin: 1rem auto;
}

.main {
    display: flex;
    width: 85vw;
    height: 100vh;
}

.encriptador {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 4rem;
}

.encriptador__texto,
.resultado__texto {
    width: 100%;
    height: 90%;
}

.encriptador__texto textarea{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-color: transparent;
    font-size: 2rem;
    font-weight: 400;
    resize: none;
    color: var(--dark-blue-300);
}

.encriptador__texto textarea::placeholder{
    color: var(--dark-blue-300);
}

.encriptador__texto textarea:focus {
    outline: none;
}

.opciones__info {
    display: flex;
    align-items: center;
    height: 2rem;

}

.info__icon {
    font-size: 0.6rem;
    background-color: var(--gray-400);
    padding: 0.2rem 0.5rem;
    color: white;
    border-radius: 50%;
    margin-right: 0.8rem;
}

.info__texto {
    font-size: 0.6rem;    
    color: var(--gray-400);
}

.opciones__botones {
    display: flex;
    width: 100%;
    height: 2rem;
}

.boton {
    width: 50%;
    height: 3.5rem;
    font-size: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    border: solid 1px var(--dark-blue-300);
}

.boton--oscuro {
    color: white;
    background-color: var(--dark-blue-300);
    margin-right: 1rem;
}

.boton--claro {
    color: var(--dark-blue-300);
    background-color: transparent;
}

.boton--claro:disabled {
    background-color: #D8DFE8;
}

.resultado {
    width: 40%;
    background-color: white;
    margin: 2rem;
    text-align: center;
}

.resultado__texto {
    padding: 1rem 1rem;
}



.footer {
   position: absolute;
   bottom: 0;
}




